/* Default styles */

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1e1e;
  text-align: right;
  margin-bottom: 100px;
  width: 96.10%;
  margin-left: 22px;
  margin-top: -10px;
}

.navbar ul {
  float: right;
  margin-right: 50px;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px 25px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: rgb(119, 241, 241);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

/* Media queries for different devices */

/* Small devices (up to 576px) */
@media (max-width: 576px) {
  /* Adjust styles for small devices here */
  .navbar {
    width: 97%;
    margin-left: 0;
  }
}

/* Medium devices (between 577px and 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .navbar {
    width: 97%;
    margin-left: 11px;
  }
}

/* Large devices (between 769px and 992px) */
@media (min-width: 769px) and (max-width: 992px) {
  .navbar {
    width: 96%;
    margin-left: 20px;
  }
}

/* Extra large devices (greater than 992px) */
@media (min-width: 993px) {
  .navbar {
    width: 96.50%;
    margin-left: 22px;
  }
}


/*------------------ADMIN_PANEL--------------*/

