/* Card-1 */
.card {
  margin: 20px;
  background-color: #f7f7f7;
  border-color: #e9e9e9;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
}

/* .card-img-top {
  border-radius: 50%;
  object-fit: cover;
} */

/* Media Queries for Card-1 */
@media (max-width: 576px) {
  .card {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .card {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 35%;
    margin: 30px auto;
  }
}
@media (min-width: 1025px) and (max-width: 1400px) {
  .card {
    width: 70%;
    margin: 30px auto;
    margin-right: 55%;
  }
}

@media (min-width: 1401px) {
  .card {
    width: 30%;
    margin: 30px auto;
  }
}

/* Card-2 */
.card2 {
  margin: 20px;
  background-color: #f7f7f7;
  border-color: #e9e9e9;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  border-radius: 10px;
}

.card2:hover {
  transform: scale(1.05);
}

.card2-img-top {
  border-radius: 50%;
  object-fit: cover;
}

/* Media Queries for Card-2 */
@media (max-width: 576px) {
  .card2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .card2 {
    width: 45%;
    margin: 30px auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card2 {
    width: 35%;
    margin: 30px auto;
  }
}

@media (min-width: 1025px) and (max-width: 1400px) {
  .card2 {
    width: 75%;
    margin: 30px auto;
    margin-left: 55%;
    margin-top: -40%;
  }
}

@media (min-width: 1401px) {
  .card2 {
    width: 30%;
    margin: 30px auto;
  }
}
