@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    margin: 8%;
    background-color: #f2f2f2;
}

div.login-form {
    width: 450px;
    background-color: white;
    box-shadow: 0px 5px 10px black;
}

div.login-form h2 {
    text-align: center;
    background-color: #204969;
    padding: 12px 0px;
    color: white;
}

div.login-form form {
    padding: 30px;
}

div.login-form form div.input-field {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
}

div.login-form form div.input-field i {
    color: darkslategray;
    padding: 10px 14px;
    background-color: #f2f4f6;
    margin-right: 4px;
}

div.login-form form div.input-field input {
    background-color: #f2f4f6;
    padding: 10px;
    border: none;
    width: 100%;
    padding-left: 15px;
}

div.login-form form button {
    width: 100%;
    background-color: #41b6e6;
    padding: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 15px 0;
    transition: background-color 0.4s;
}

div.login-form form button:hover {
    background-color: #5bd1d7;
}

div.login-form form div.extra {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.login-form form div.extra a:first-child {
    color: darkgray;
}

div.login-form form div.extra a:last-child {
    color: gray;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    body {
        margin: 5%;
    }
    
    div.login-form {
        width: 10%;
    }
    
    div.login-form h2 {
        font-size: 20px;
    }
    
    div.login-form form {
        padding: 20px;
    }
    
    div.login-form form div.input-field i {
        padding: 8px;
    }
    
    div.login-form form button {
        font-size: 14px;
    }
    
    div.login-form form div.extra {
        font-size: 12px;
    }
}

/* TV */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        margin: 5%;
    }
    
    div.login-form {
        width: 600px;
    }
    
    div.login-form h2 {
        font-size: 24px;
    }
    
    div.login-form form {
        padding: 40px;
    }
    
    div.login-form form div.input-field i {
        padding: 12px;
    }
    
    div.login-form form button {
        font-size: 18px;
    }
    
    div.login-form form div.extra {
        font-size: 14px;
    }
}

/* Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
    body {
        margin: 3%;
    }
    
    div.login-form {
        width: 800px;
    }
    
    div.login-form h2 {
        font-size: 28px;
    }
    
    div.login-form form {
        padding: 50px;
    }
    
    div.login-form form div.input-field i {
        padding: 14px;
    }
    
    div.login-form form button {
        font-size: 20px;
    }
    
    div.login-form form div.extra {
        font-size: 16px;
    }
}

/* PC */
@media only screen and (min-width: 1366px) and (max-width: 1919px) {
    body {
        margin: 2%;
    }
    
    div.login-form {
        width: 900px;
    }
    
    div.login-form h2 {
        font-size: 32px;
    }
    
    div.login-form form {
        padding: 60px;
    }
    
    div.login-form form div.input-field i {
        padding: 16px;
    }
    
    div.login-form form button {
        font-size: 22px;
    }
    
    div.login-form form div.extra {
        font-size: 18px;
    }
}

/* Big Screen */
@media only screen and (min-width: 1920px) {
    body {
        margin: 1%;
    }
    
    div.login-form {
        width: 1000px;
    }
    
    div.login-form h2 {
        font-size: 36px;
    }
    
    div.login-form form {
        padding: 70px;
    }
    
    div.login-form form div.input-field i {
        padding: 18px;
    }
    
    div.login-form form button {
        font-size: 24px;
    }
    
    div.login-form form div.extra {
        font-size: 20px;
    }
}