.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    .card-body h3{
        text-align: center;
    }
    .multiselect-input-div {
        height: 50px;
    }
    user agent stylesheet
    div {
        display: block;
    }
    .multiselect-wrapper {
        width: 180px;
        display: inline-block;
        white-space: nowrap;
        font-size: 1.25rem;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    }
    .multiselect-wrapper{
        font-size: 1rem;
        line-height: 2.60;
        padding-left: .75em;
        padding-right: .75em;
    }