* {
    padding: 0;
    margin: 0;
}

body {
    margin-bottom: 600px;
}

.container
{
    margin: auto;
    display: flex;
    max-width: 70vw;
    align-items: center;
    border: 2px solid black;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.width
{
    width: 56em;
}

.width-1
{
    width: 56.5em;
}

.header
{
    /* margin: auto; */
    margin-bottom: -17px;
    display: flex;
    align-items: center;
    border: 2px solid black;
    justify-content: space-between;
}

/* table
{
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 5px;
    width: 80vw;
    margin: auto;
} */

th {
    border: 2px solid black;
}

.title
{
    height: 10vh;
    margin-top: 10px;
}

.table-row-1
{
    height: 9vh;
}

.table-row-2
{
    height: 20vh;
}

.table-row-3
{
    height: 7vh;
}

.table-row-4
{
    padding-left: 30px;
    line-height: 20px;
}

.table-row-5
{
    height: 15vh;
}

.space
{
    margin-top: 20px;
}
